$font-stack: Helvetica, sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

canvas#gameboard {
  width: 500px;
  height: 500px;
  margin-top: 10%;
  // temp
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

@media only screen and (max-width: 600px)  {
  canvas#gameboard {
    width: 80vw;
    height: 80vw;
  }
}

